body {
    /* background-color: black; */
    font-family: 'Roboto', sans-serif;
}

.nav-link {
    font-family: "Shadows Into Light", cursive;
    font-weight: bold;
}


.hero h2 {
    font-size: 5rem;
    font-family: "Archivo Black", sans-serif;
    font-weight: 800;
    font-style: normal;
    /* color: #F4FDD9; */
}

.tag h6 {
    font-family: "Shadows Into Light", cursive;
    font-weight: 400;
    font-style: italic;
    /* color: #F4FDD9; */
}


p {
    font-family: "Montserrat", sans-serif;

}

h3 {
    font-family: "Montserrat", sans-serif;
    font-size: large;
}

.picBox {
    width: 290px;
    height: 290px;
    margin: 5px;
    background: #888;
    float: left;
  }
  
  .picBox:hover {
    background: #999;
    cursor: pointer;
  }
  
  .picBox.large {
    background: #084;
    z-index: 2;
    
  }