body {
    /* background-color: black; */
    font-family: 'Roboto', sans-serif;
}

.nav-link {
    font-family: "Shadows Into Light", cursive;
    font-weight: bold;
    font-size: large;
}


.hero h2 {
    font-size: 5rem;
    font-family: "Archivo Black", sans-serif;
    font-weight: 800;
    font-style: normal;
    /* color: #F4FDD9; */
}

.tag {
    text-align: center;
}

.tag h6 {
    font-family: "Shadows Into Light", cursive;
    font-weight: 400;
    font-style: italic;
    /* color: #F4FDD9; */
}

.hero-container{
    padding: 2%;
    text-align: center;
}

.heroContent {
    padding: 2;
    display: flex;
    justify-content: space-between;
    height: 40%;
    align-items: center;
    flex-wrap: wrap;
}

.hero-text-left{
    width: 60%;
}

.hero-container h1, .hero-container h3 {
    /* font-family: "Shadows Into Light", cursive; */
    font-weight: 800;
    /* font-style: italic; */
    /* color: #F4FDD9; */
}


p {
    font-family: "Montserrat", sans-serif;

}

h3 {
    font-family: "Montserrat", sans-serif;
    font-size: large;
}

.picBox {
    width: 290px;
    height: 290px;
    margin: 5px;
    background: #888;
    float: left;
  }
  
  .picBox:hover {
    background: #999;
    cursor: pointer;
  }
  
  .picBox.large {
    background: #084;
    z-index: 2;
    
  }

  .profile-pic-box{
    width: '40%';
    text-align: 'center'
  }


  .profile-pic{
    width: 300px;
  }

  .card{
    max-width: 30%;
    margin: 35px;
    box-shadow: 2;
}

  @media screen and (max-width: 768px) {
    .hero h2 {
        font-size: 2rem;
        font-family: "Archivo Black", sans-serif;
        font-weight: 800;
        font-style: normal;
        /* color: #F4FDD9; */
    }
    
    .tag h6 {
        font-family: "Shadows Into Light", cursive;
        font-weight: 400;
        font-style: italic;
        /* color: #F4FDD9; */
    }
    
    .hero-container h1, .hero-container h3 {
        /* font-family: "Shadows Into Light", cursive; */
        font-weight: 800;
        /* font-style: italic; */
        /* color: #F4FDD9; */
    }

    .profile-pic-box{
        width: '40%';
        text-align: center
      }
    
    
      .profile-pic{
        width: 150px;
      }
    

      .heroContent {
        padding: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 40%;
        align-items: center;
        flex-wrap: wrap;
    }
    
    .project-box{
        display: flex;
        flex-direction: column;
    }


    .card{
        max-width: 100%;
    }
    
    .overlay-content{
        height: 25%;
    }
    
  }